@CHARSET "UTF-8";

@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.4.0');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'), url('fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
	font-family: "Helvetica Neue", HelveticaNeue, "Helvetica-Neue",	Helvetica, "BBAlpha Sans", sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
	display: block;
}
/*Page sample  ------------------------------------------------------------------ */
.mui-page-header {
	height: 40%;
}
.mui-page-logo {
	width: 40px;
	height: 40px;
	margin: auto;
	background-position: center;
	background-image: url(images/logo-40.png);
	background-repeat: no-repeat;
}
.mui-page-title {
	width: 100%;
    text-align: center;
    font-size: 20px;
    padding-top: 12px;
}
.mui-page-body-content {
	padding: 10px;
}
/* GoBack button ------------------------------------------------------------------ */
.mui-backarrow {
	position: absolute;
	top: 4px;
	left: 5px;
	width: 40px;
	height: 37px;
}
.mui-backarrow:after {
	font-family: FontAwesome;
	content: '\f104';
	font-size: 35px;
	color: #1A7EFA;
}
#map{
	height: 100%;
	width: 100%;
	position: absolute;
}
#header{
    width: 90%;
    height: 7%;
    float: left;
    top: 1%;
    position: absolute;
    z-index: 100;
    background: darkcyan;
    opacity: 0.8;
    margin: 0% 5%;
}
#option-panel{
	top: 0%;
	left: 0%;
	width: 72%;
	visibility: visible;
	height: 100%;
	background-color: darkcyan;
}
.panel-element{
	width: 100%;
	height: 7%;
	border-bottom: 1px solid white;
	color: white;
	padding: 5%
}
#myfirstpanel{
	padding: 0%;
	background: mediumaquamarine;
}
#userSkills{
    width: 106%;
	height: 100%;
    position: relative;
}
#user_photo_panel{
    width: 15%;
    height: 85%;
    margin-top: 1.3%;
    border-radius: 50%;
}
#name_panel{
	width: 75%;
    height: 100%;
    color: white;
    padding-left: 5%;
    padding-top: 5%;
    font-size: 137%;
    float: left;
}

.options{
	width: 17%;
	height: 100%;
	position: relative;
	font-family: 'FontAwesome';
	display: inline-block;
	font-size: 1.5em;
	padding-top: 3%;
	text-align: center;
	float: left;
}
.options::before{
	content: '\f0c9';
	color: white;
}

.search{
	width: 65%;
	height: 100%;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	float: left;
	color: black
}
.search_input{
	height: 60%;
	width: 100%;
	border: 0.1px solid gray;
    opacity: 0.5;	
	position: relative;
	top: 20%;
	padding-left: 2%;

}
.customer_photo{
	width: 10%;
    height: 82%;
    top: 6%;
    position: relative;
    left: 4.5%;
    float: left;
    padding-top: 1%;
    text-align: center;
    border-radius: 50%;
}
.user_photo{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

#flecha{
	font-family: 'FontAwesome';
	font-size: 40px;
	font-weight: bold;
	color: white;
	position: absolute;
	bottom: 1.5%;
	width: 0%;
	left: 50%;
}
#flecha::before{
	content: "\f106"
}
#prueba{
	height: 80%;
	width: 80%;
	background: white;
	position: relative;
	left: 10%;
	z-index: 101;
}
#gps{
	content: url(./images/location.png);
	height: 5%;
	top: 85%;
	left: 87%;
	position: absolute;
	z-index: 100;
	border: solid black;
    border-radius: 25%;
    opacity: 0.8;
    background: white;
}

#arrow{
	position: absolute;
    height: 6%;
    width: 15%;
    left: 42.5%;
    z-index: 100;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    top: 95.5%;
	opacity: 0.75;
	font-size: 1.8em;
	font-family: 'FontAwesome';
	background: white;
    text-align: center;
	padding-top: 0.5%;
}
#arrow_int{
	height: 100%;
	width: 70%;
	z-index: 101;
    border-radius: 50%;
	opacity: 0.75;
	margin: 0% 15%;
	font-size: 1em;
	font-family: 'FontAwesome';
	background: white;
    text-align: center;
	padding-top: 0.5%;
}
#arrow_int:before{
	content: '\f0aa';
	color: darkcyan
}
/* Estilos del panel de filtros */

.symbol{
	font-family: 'FontAwesome';
	font-size: 35px;
}
#filters{
	height: 30%;
	width: 100%;
	background-color: lightgray;
	top: 94.3%;
	position: absolute;
}
#filters_left{
	width: 70%;
	height: 70%;
	top: 5%;
	position: relative;
}
#filters_header{
	position: relative;
	width: 100%;
	height: 20%;
	background-color: darkcyan;
	opacity: 0.7
}
#money_filter{
	position: relative;
	width: 100%;
	height: 33%;
}
#dollar_symbols{
	width: 70%;
}
.dollar{
	position: relative;
	width: 30%;
	display: inline-block;
	padding-left: 16%;
}

#dollar1::before{
	content: '\f155';
}
#dollar2::before{
	content: '\f155\f155';
}
#dollar3::before{
	content: '\f155\f155\f155';
}
#credit_card_symbol{
	width: 25%;
	display: inline-block;
}
#credit_card_symbol::before{
	width: 30%;
	content: '\f09d';
}
#public_filter{
	position: relative;
	width: 100%;
	height: 33%;
}
.person{
	position: relative;
	width: 30%;
	display: inline-block;
	padding-left: 16%;
}
#person1::before{
	content: '\f183';
}
#person2::before{
	content: '\f183\f183';
}
#person3::before{
	content: '\f183\f183\f183';
}

#ruler{
	width: 20%;
	left: 5%;
	display: inline-block;
}
#ruler_icon{
	width: 100%;
	height: 100%;
}
#distance_filter{
	position: relative;
	width: 100%;
	height: 34%;
	background-color: lightgray;
}
#distance_slider_container{
	width: 78%;
	display: inline-block;
	height: 100%;
	position: relative;
	top: -18.5%;
	vertical-align: middle;
}
#distance_slider{
	height: 35%;
	width: 80%;
	float: right;
	margin: 0;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;   
    background: #F5F5F5;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: rgb(76, 78, 175);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
/* Termina estilos de panel de filtros */

.mui-page-body{
	height: 70%;
}
.logo{
	width: 100%;
	height: 100%;
}
#app_logo{
	text-align: center;
	width: 58%;
	left: 21%;
	position: relative;
	height: 80%;
	top:10%;
	background: darkcyan;
	border-radius: 50%;
}
#img_logo{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	/*border: 2px solid /*solo de prueba. Hay que borrar*/
}
#login-page{
	background: url('./images/background.jpg');
}
#credentials{
	position: absolute;
    top: 42%;
    height: 36%;
    width: 100%;
}
#credentials > div,button{
	height: 20%;
	width: 80%;
	margin: 1% 10%;
}
#account_btn{
	height: 7%;
	width: 40%;
	margin: 1% 30%;
	position: absolute;
	top: 78%;
	color: darkcyan;
	font-size: 100%;
}
#forgot_password{
	padding-left: 32%;
	padding-top: 3%;
	color: #005999
}
.text_input {
	display: inline-block;
}
.text_input > div{
	float: left;
	height: 100%;
	width: 15%;
}
#user_emoji {
	font-size: 1.8em;
	font-family: 'FontAwesome';
	background: darkcyan;
    text-align: center;
    padding-top: 3.5%;
}
#user_emoji::before{
	content: '\f007';
	color: white;
	margin-right: 2%
	
}
#key_emoji {
	font-size: 1.8em;
	font-family: 'FontAwesome';
	background: darkcyan;
    text-align: center;
    padding-top: 3.5%;
}
#key_emoji::before{
	content: '\f023';
	color: white;
	margin-right: 2%
	
}
.text_input > input{
	position: relative;
	height: 100%;
	width: 85%;
	border: 0.3px solid dimgray;
	padding-left: 2%
}

#login_btn{
	margin-top: 5%;
	font-size: 130%;
	background: darkcyan;
	color: white;
	border: 0px;
}
.header_bar_user{
	width: 100%;
	height: 7%;
	float: left;
	position: absolute;
	background: darkcyan;
	z-index: 2;
}
#bar_name{
	height: 7%;
    position: absolute;
    top: 30%;
    width: 100%;
    z-index: 2;
    opacity: 0.5;
    color: white;
    font-size: 200%;
    padding-left: 2%;
}
#photo{
	position: absolute;
    width: 100%;
    height: 30%;
    top: 7%;
}
.photo_img{
	width: 100%;
	height: 100%;
}
#requested_promo_container{
	height: 100%;
}
#QR_page{
	background-color: black;
	text-align: center;
}
#QR{
	top: 40%;
}
#promos{
	position: absolute;
	top: 37%;
	height: 56%;
	width: 100%;
	overflow-y:scroll;
}
.promo{
	width: 100%;
	height: 14%;
	border-top: 0.05px solid darkgrey;
	margin-top: 0.3%;
}

.promo > div{
	display: inline-block
}
.promo_text{
	height: 60%;
	padding-top: 1.7%;
	width: 60%;
	font-size: 120%;
	float: left
}
.description_time {
	width: 60%;
    height: 40%;
    font-size: 90%;
    font-family: 'FontAwesome';
    float: left;
	position: relative;
}
.description_time::before{
	font-size: 1.1em;
	content: '\f017';
	color: gray;
	margin-right: 2%
	
}
.promo_icon{
	max-width: 100%;
	max-height: 100%;
	border-radius: 50%;
	padding-top: 4%;
    padding-left: 10%;
}
.get_promo{
	float: right;
	width: 20%;
	height: 100%;
	background: darkslategrey;
	padding-top: 4%;
	padding-left: 2%;
	color: white
}
.promo_img{
	float: left;
	height: 100%;
	width: 20%;
}
#club_view_footer{
	position: absolute;
	top: 93%;
	height: 7%;
	width: 100%;	
	z-index: 1;
}
#club_view_footer > div{
	display: inline-block;
	float: left;
	width: 33.3%;
	height: 100%;
	text-align: center;
	border-right: 0.1px solid white;
	background-color: darkcyan;
	padding-top: 3%
}
#gift{
	font-family: 'FontAwesome';
	font-size: 2em;
}
#gift::before{
	content: '\f06b';
	color: white
}
#home{
	font-family: 'FontAwesome';
	font-size: 2em;
}
#home::before{
	content: '\f015';
	color: white
}
#club_photos{
	font-family: 'FontAwesome';
	font-size: 1.7em;

}
#club_photos::before{
	content: '\f03e';
	color: white
}
#bar_details{
	height: 23%;
	width: 100%;
	position: absolute;
	top: 7%;
	z-index: 2;
	padding-top: 2%
}
#bar_details > div{
	display: block;
	text-align: center;
	margin: auto;
}
#bar_icon{
	width: 33.3%;
}
#bar_icon_img{
	height: 90%;
	width: 60%;
	border-radius: 50%;
}
#info_bar{
	width: 66%;
	padding-top: 3%;
}
#club_options{
	width: 100%;
	height: 6%;
	position: absolute;
	top: 30.1%;
}
#photo_options{
	font-family: 'FontAwesome';
	font-size: 1.7em;
	padding-top: 1%
}
#photo_options::before{
	content: '\f03e';
	color: white
}
#streaming{
	font-family: 'FontAwesome';
	font-size: 1.7em;
	padding-top: 1%
}
#streaming::before{
	content: '\f03d';
	color: white
}
#shows{
	font-family: 'FontAwesome';
	font-size: 1.7em;
	padding-top: 1%
}
#shows::before{
	content: '\f150';
	color: white
}
#club_options > div{
	display: inline-block;
    float: left;
    width: 33.3%;
    height: 100%;
    text-align: center;
    border-right: 0.1px solid white;
    background: darkcyan;

}
#photo_container{
	height: 56.8%;
	position: absolute;
	top: 36.3%;
	width: 100%;
}
#photo_container > div{
	height: 31%;
	width: 33.3%;
	float: left;
	display: inline-block;
}
.photo_item_img{
	height: 100%;
	width: 100%;
}
.back_arrow{
	position: absolute;
	top: 7%;
	height: 7%;
	font-family: 'FontAwesome';
	display: inline-block;
	font-size: 1.5em;
	text-align: left;
	width: 100%;
	padding-left: 2%;
	padding-top: 2%; 
}
.back_arrow::before{
	content: '\f060';
	color: darkgoldenrod
}
#photo_view{
	height: 60%;
	position: absolute;
	top: 14%;
	width: 100%;
}
#selected_photo{
	height: 100%;
	width: 100%;
}
#options_photo{
	width: 100%;
	height: 6%;
	position: absolute;
	top: 74%;
}
#options_photo > div{
	display: inline-block;
	float: left;
	width: 50%;
	height: 100%;
	text-align: center;
	color: #005999;
	padding-top: 2%;
	border: 0.1px solid slategray
}
#comments{
	font-family: 'FontAwesome';
	display: inline-block;
	font-size: 1em;
	text-align: left;
	width: 100%;
	padding-left: 2%;
	padding-top: 2%; 
}
#comments::before{
	content: '\f086';
	color: darkgoldenrod;
	margin-right: 1%;
}
#like{
	font-family: 'FontAwesome';
	display: inline-block;
	font-size: 1em;
	text-align: left;
	width: 100%;
	padding-left: 2%;
	padding-top: 2%; 
}
#like::before{
	content: '\f0fc';
	color: darkgoldenrod;
	margin-right: 1%;
}
#min_icon_bar{
	top: 10%;
	height: 80%;
	width: 10%;
	float: right;
	margin-right: 2%;
	border-radius: 50%;
}
#street_view_icon{
	top: 17%;
    left: 73%;
    position: absolute;
    height: 28%;
    width: 14%;
    font-family: 'FontAwesome';
	font-size: 2.7em;
	color: white;
	border: 1px solid darkcyan;
    border-radius: 50%;
}
#street_view_icon:before{
	background-color: darkcyan;
	content: '\f21d';
	border-radius: 50%;
}
#directions{
	top: 17%;
    left: 13%;
    position: absolute;
    height: 28%;
    width: 14%;
    font-family: 'FontAwesome';
	font-size: 2.5em;
	color: white;
	border: 1px solid darkcyan;
    border-radius: 50%;
}
#directions:before{
	background-color: darkcyan;
	content: '\f018';
	padding-top: 0.3%;
	border-radius: 50%;
}

/*COMIENZA>REGISTRO*/
#registry-page{
	background: url('./images/background.jpg');
}
#conditions{
	margin-top: 5%;
	color: white;
	padding-top: 5%;
}
#email_emoji {
	font-size: 1.8em;
	font-family: 'FontAwesome';
	background: darkcyan;
    text-align: center;
    padding-top: 3.5%;
}
#email_emoji::before{
	content: '\f0e0';
	color: white;
	margin-right: 2%
	
}

#registry_btn{
	margin-top: 5%;
	font-size: 130%;
	background: darkcyan;
	color: white;
	border: 0px;
}

/*TERMINA>REGISTRO*/
/*EMPIEZA>USER QRS*/
#qrs_promos_containers{
	overflow: scroll;
	position: absolute;
	top: 7%;
	width: 100%;
	height: 86%;
}

#qrs_promo{
    height: 29%;
    width: 42%;
    margin: 4% 4%;
    position: relative;
    text-align: center;
    border-radius: 25%;
    background: darkcyan;
	color: white;
	display: inline-block;
	float: left;
}
#qrs_promo > img{
	height: 65%;
    width: 65%;
	padding-top: 5%;
}
#promo_chars{
	width: 100%;
	height: 20%;
}
#promo_chars > div{
	height: 50%;
	width: 100%;
}
#expanded_qr{
	position: relative;
    width: 80%;
    height: 50%;
    margin: 10%;
    color: white;
    top: 20%;
	display: none;
}
#qrs_promo_extended{
    height: 100%;
    width: 100%;
    position: relative;
    text-align: center;
    border-radius: 25%;
    background: darkcyan;
	color: white;
	display: inline-block;
	float: left;
}
#qrs_promo_extended > img{
	height: 62%;
    width: 67%;
}
#promo_chars_extended{
	width: 100%;
    height: 20%;
    font-size: 130%;
    padding-top: 2%;
}
#promo_chars_extended > div{
	height: 50%;
	width: 100%;
}
#exit_promo{
	margin: 0% 40%;
    height: 13%;
    padding-top: 2%;
    width: 20%;
	float: left;
	font-family: 'fontAwesome';
	font-size: 2em
}
#exit_promo::before{
	background-color: darkcyan;
	content: '\f057';
	border-radius: 50%;
}
/*TERMINA>USER QRS*/
/*EMPIEZA PAGINA PERFIL*/
#settings{
	width: 12%;
    height: 80%;
    top: 20%;
    position: relative;
    left: 6.5%;
    float: left;
    border-radius: 50%;
	font-family: 'FontAwesome';
	font-size: 1.6em;
	text-align: center;
	color: white
}
#settings:before{
	content: '\f013'
}
#color_profile{
	height: 30%;
	position: relative;
	width: 100%;
	background: darkcyan
}
#profile_contain{
	height: 97%;
	width: 100%;

}
#main_profile_image{
	position: absolute;
    top: 15%;
    left: 17.5%;
    height: 35%;
    width: 65%;
    background: white;
    border-radius: 50%;
	border: 1px solid darkcyan;
}
#name_description{
	position: absolute;
	top: 54%;
	text-align: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 180%;
	color: darkcyan;
	height: 25%;
	width: 100%;
}
#user-profile-page{
	z-index: 6;
}
#free_space{
	width: 60%;
	height: 100%;
	position: relative;
	float: left;
}
/*TERMINA PAGINA PERFIL*/
