@CHARSET "UTF-8";

@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.4.0');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'), url('fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
	font-family: "Helvetica Neue", HelveticaNeue, "Helvetica-Neue",	Helvetica, "BBAlpha Sans", sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
	display: block;
}
/*Page sample  ------------------------------------------------------------------ */

.mui-page-logo {
	width: 40px;
	height: 40px;
	margin: auto;
	background-position: center;
	background-image: url(images/logo-40.png);
	background-repeat: no-repeat;
}
.mui-page-title {
	width: 100%;
    text-align: center;
    font-size: 20px;
    padding-top: 12px;
}
.mui-page-body {}
.mui-page-body-content {
	padding: 10px;
}
/* GoBack button ------------------------------------------------------------------ */
.mui-backarrow {
	position: absolute;
	top: 4px;
	left: 5px;
	width: 40px;
	height: 37px;
}
.mui-backarrow:after {
	font-family: FontAwesome;
	content: '\f104';
	font-size: 35px;
	color: #1A7EFA;
}

#header{
	width: 100%;
	height: 7%;
	z-index: 100;
	background-color: darkcyan
}
#option-panel{
	top: 0%;
	left: 0%;
	width: 72%;
	visibility: visible;
	height: 100%;
	background-color: darkcyan;
}
.panel-element{
	width: 100%;
	height: 7%;
	border-bottom: 1px solid white;
	color: white;
	padding: 5%
}
#myfirstpanel{
	padding: 0%;
	background: mediumaquamarine;
}
#userSkills{
    width: 106%;
	height: 100%;
    position: relative;
}
#user_photo_panel{
    width: 15%;
    height: 85%;
    margin-top: 1.3%;
    border-radius: 50%;
}
#name_panel{
	width: 75%;
    height: 100%;
    color: white;
    padding-left: 5%;
    padding-top: 5%;
    font-size: 137%;
    float: left;
}
.options{
	width: 20%;
	height: 100%;
	position: relative;
	font-family: 'FontAwesome';
	float: left;
	font-size: 1.7em;
	padding-top: 2.6%;
	text-align: center;
	padding-right: 1%
}
.options::before{
	content: '\f0c9';
	left: -10%;
	color: white
}

.bar_name{
	width: 60%;
	height: 100%;
	position: relative;
	float: left;
	font-size: 172%;
	padding-top: 2%;
	color: white;
	padding-left: 1%;
}
.bar_photo{
	width: 12%;
    height: 80%;
    top: 10%;
    position: relative;
    left: 6.5%;
    float: left;
    border-radius: 50%;
}
#icon_img{
	padding: 10%;
	object-fit: contain;
	max-width: 100%;
	max-height: 100%;
	border-radius: 50%;
}
.photo_img{
	max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    left: 3%;
    top: 1.5%;
    position: relative;
}
/*
#bar_photo::before{
	content: '\f007';
	color: white
}*/
#promo-page{
	background: silver
}
#promo_container{
	width: 100%;
	height: 75.3%;
	position: absolute;
	overflow-y:scroll;
}
.promo{
    width: 100%;
    height: 15%;
    background: white;
}
.promo > div{
	display: inline-block;
}
#icon{
	float: left;
	height: 100%;
	width: 20%;
}
#name_promo{
	width: 60%;
	height: 60%;
	text-align: left;
	font-size: 100%;
	color: black;
	padding-top: 3%;
}
/*NO BORRAR
#edit{
	width: 14%;
	margin: 0% 1%;
	border: 2px solid darkslategrey;
	height: 100%;
	background: seagreen;
	border-radius: 25%;
	font-family: 'FontAwesome';
	font-size: 1.8em;
	text-align: center;
	padding-left: 2%;
	padding-top: 2.3%;
}
#edit::before{
	content: '\f044';
	color: white
	
}
*/
#description_time {
	width: 60%;
    height: 40%;
    font-size: 90%;
    font-family: 'FontAwesome';
    float: left;
	position: relative;
}
#description_time::before{
	font-size: 1.1em;
	content: '\f017';
	color: gray;
	margin-right: 2%
	
}

#drag_place {
	float: right;
	width: 20%;
	height: 100%;
}
#add_promo{
	height: 10%;
    width: 15%;
    position: absolute;
    left: 32%;
    font-family: 'FontAwesome';
    font-size: 2.6em;
    text-align: center;
    background: silver;
    border: darkcyan;
}
#add_promo::before{
	content: '\f055';
	color: darkcyan
}
#footer{
	width: 100%;
    height: 8%;
    background: white;
    margin: 1% 0%;
    position: relative;
    top: 75%;
}
#footer > div{
	display: inline-block;
	float: left
}
#message{
	width: 17%;
	height: 100%;
	background: white;
	font-family: 'FontAwesome';
	font-size: 1.7em;
	text-align: center;
	padding-top: 3%;
	
}
#message::before{
	content: '\f0e0';
	left: -10%;
	color: darkcyan
}

#scan_qr{
	width: 66%;
	height: 100%;
	position: relative;
	float: left;
	font-size: 200%;
	padding-top: 2%;
	background: darkcyan;
	text-align: center;
	font-family: 'FontAwesome';
	font-size: 2.6em;
	text-align: center;
}
#scan_qr::before{
	content: '\f029';
	color: white
}


#video{
	width: 17%;
	background: white;
	height: 100%;
	font-family: 'FontAwesome';
	font-size: 1.8em;
	text-align: center;
	padding-top: 3%;
	padding-left: 1%;

}
#video::before{
	content: '\f03d';
	color: darkcyan;
	margin: auto
}

#back-message-arrow{
	width: 17%;
    height: 8.1%;
    background: white;
    font-family: 'FontAwesome';
    font-size: 1.7em;
    text-align: center;
    right: -17%;
    top: 83.5%;
    position: absolute;
    padding-top: 3%;
	
}
#back-message-arrow::before{
	content: '\f0a8';
	left: -10%;
	color: darkcyan
}
/*COMIENZA PAGINA LOGIN*/
.mui-page-header {
	height: 40%;
}
.logo{
	width: 100%;
	height: 100%;
}
#app_title{
	width: 100%;
	height: 20%;
	text-align: center;
	font-size: 145%;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 3%;
    margin-bottom: 4%;
	background: darkcyan;
	color: white
}
#app_logo{
	text-align: center;
	width: 58%;
	top: 10%;
	left: 21%;
	position: relative;
	height: 80%;
	background: darkcyan;
	border-radius: 50%;
}
#img_logo{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	/*border: 2px solid /*solo de prueba. Hay que borrar*/
}
.mui-page-logo {
	width: 40px;
	height: 40px;
	margin: auto;
	background-position: center;
	background-image: url(images/logo-40.png);
	background-repeat: no-repeat;
}
.mui-page-title {
	width: 100%;
    text-align: center;
    font-size: 20px;
    padding-top: 12px;
}
#login-page{
	background: url('./images/background.jpg');
}
#credentials{
	position: absolute;
    top: 42%;
    height: 41%;
    width: 100%;
}
#credentials > div,button{
	height: 20%;
	width: 80%;
	margin: 1% 10%;
}
#account_btn{
	height: 7%;
	width: 40%;
	margin: 1% 30%;
	position: absolute;
	top: 85%;
	color: darkcyan;
	font-size: 100%;
}
select{
	height: 100%;
	width: 100%;
}
#forgot_password{
	padding-left: 32%;
	padding-top: 3%;
	color: #005999
}
.text_input {
	display: inline-block;
}
.text_input > div{
	float: left;
	height: 100%;
	width: 15%;
}
#user_emoji {
	font-size: 1.8em;
	font-family: 'FontAwesome';
	background: darkcyan;
    text-align: center;
    padding-top: 3.5%;
}
#user_emoji::before{
	content: '\f007';
	color: white;
	margin-right: 2%
	
}
#key_emoji {
	font-size: 1.8em;
	font-family: 'FontAwesome';
	background: darkcyan;
    text-align: center;
    padding-top: 3.5%;
}
#key_emoji::before{
	content: '\f023';
	color: white;
	margin-right: 2%
	
}
.text_input > input{
	position: relative;
	height: 100%;
	width: 85%;
	border: 0.3px solid dimgray;
	padding-left: 2%
}

#login_btn{
	margin-top: 5%;
	font-size: 130%;
	background: darkcyan;
	color: white;
	border: 0px;
}
/*TERMINA PAGINA LOGIN*/
/*ARRANCA PAGINA REGISTRO*/
#registry-page{
	background: url('./images/background.jpg');
}
#email_emoji {
	font-size: 1.8em;
	font-family: 'FontAwesome';
	background: darkcyan;
    text-align: center;
    padding-top: 3.5%;
}
#email_emoji::before{
	content: '\f0e0';
	color: white;
	margin-right: 2%
	
}

#registry_btn{
	margin-top: 5%;
	font-size: 130%;
	background: darkcyan;
	color: white;
	border: 0px;
}
#conditions{
	margin-top: 5%;
	color: white;
	padding-top: 5%;
}
/*TERMINA PAGINA REGISTRO*/
/*COMIENZA PAGINA PROMO*/
#title{
	position: absolute;
	top: 10%;
	width: 80%;
	margin-left: 10%;
	height: 7%;
	color: white;

}
#title_input{
	background: darkcyan;
	color: white;
	text-align: center;
	font-size: 110%;
	border: 0px;
	margin: 2% 0%;
	width: 100%;
	height: 96%;
}
#schedules{
	height: 40%;
    width: 80%;
    position: absolute;
    top: 18%;
    margin: 2% 10%;
}
.schedule_panel{
    width: 100%;
    height: 48%;
    background: white;
	margin-bottom: 2%;	
	border: 1px solid darkcyan
}
.schedule_panel > div{
	width: 100%;
    height: 29%;
    padding: 0% 20%;
}
.schedule_entries{
	margin: 10% 0%;
}
.schedule_entries > div{
	display: inline-block;
	width: 40%;
	height: 80%;
	float: left;
}
#points{
	width: 20%;
	text-align: center;
	padding-top: 2.5%;
}
.schedule_name{
	text-align: center;
	background: darkcyan;
	color: white
}
.hour > select{
	width: 100%;
	height: 100%;
	border-color: darkcyan
}
.minute > select{
	width: 100%;
	height: 100%;
	border-color: darkcyan
}
#description_zone{
    height: 23%;
    width: 80%;
    position: absolute;
    top: 60%;
    margin: 0% 10%;
    text-align: center;
}
#description_title{
	margin-bottom: 3%;
    background: darkcyan;
    height: 23%;
    padding-top: 2.6%;
    color: white;
}
#description_text{
	height: 67%;
}
#description_text >input{
	height: 100%;
	width: 100%;
	border: 1px solid darkcyan;
	text-align: center
}
#newPromo{
	width: 60%;
    height: 7%;
    position: absolute;
    top: 86%;
    background: darkcyan;
    color: white;
    margin: 0% 20%;
}
#send-msg-div{
	width: 83%;
    height: 16.5%;
    left: -83%;
    top: 83.5%;
    position: absolute;
}
#send-msg-input{
	width: 100%;
	height: 100%;
}
/*TERMINA PAGINA PROMO*/
/*EMPIEZA PAGINA PERFIL*/
#settings{
	width: 12%;
    height: 80%;
    top: 20%;
    position: relative;
    left: 6.5%;
    float: left;
    border-radius: 50%;
	font-family: 'FontAwesome';
	font-size: 1.6em;
	text-align: center;
	color: white
}
#settings:before{
	content: '\f013'
}
#color_profile{
	height: 30%;
	position: relative;
	width: 100%;
	background: darkcyan
}
#profile_contain{
	height: 97%;
	width: 100%;
}
#photo_container{
	height: 56.8%;
	position: absolute;
	top: 60%;
	width: 100%;
}
#photo_container > div{
	height: 31%;
	width: 33.3%;
	float: left;
	display: inline-block;
}
.photo_item_img{
	height: 100%;
	width: 100%;
}
#main_profile_image{
	position: absolute;
    top: 15%;
    left: 17.5%;
    height: 35%;
    width: 65%;
    background: white;
    border-radius: 50%;
	border: 1px solid darkcyan;
}
#name_description{
	position: absolute;
	top: 54%;
	text-align: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 180%;
	color: darkcyan;
	height: 25%;
	width: 100%;
}
#user-profile-page{
	z-index: 6;
}
#free_space{
	width: 60%;
	height: 100%;
	position: relative;
	float: left;
}
/*TERMINA PAGINA PERFIL*/
#upload-image-gallery{
	display: inline-block;
	position: absolute;
	top: 91%;
	left: 80%;
	width: 5%;
	height: 5%;
	background-color: black
}
#upload-image-camera{
	display: inline-block;
	position: absolute;
	top: 91%;
	left: 90%;
	width: 5%;
	height: 5%;
	background-color: black
}